body {
    font-family: serif
}

p {
    line-spacing: 1.2 em
}

p.img {
    text-align:center;
}

h1, h2, h3 {
    font-family: sans-serif;
}

h1.part, h2.subtitle {
    text-align: center; margin:auto;
}
